 /* The animation code */
@keyframes IG {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

/* The element to apply the animation to */
.insta {
  width: 200px;
  height: 200px;
  background-color: red;
  animation-name: IG;
  animation-duration: 4s;
  animation-iteration-count: infinite;    
} 

.insta img {
  width: 200px;
  height: 200px;
}